.vscode

go.work.sum

project/.env
project/Makefile
project/run.sh

p2p/src/db/migration/*
p2p/src/go.sum

fake-bank-service/internal/database/migration/*
fake-bank-service/internal/env/*.env


transaction-service/dist/*
users-info-service/dist/*